body {
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 3px;
}

.card-border{
  border: solid 1px grey;
  overflow: hidden;
  transition: all ease-out 0.2s;

}
.card-border:hover{
  transform: scale(1.02);
}

.text-shadow{
  text-shadow: 0 1px 1px rgba(0,0,0,0.6);
}

.card-group:hover{
  transform: scale(1.02);
}

.pie-pagina{
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 200px;
}
.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: grey;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: aqua;
}
.pie-pagina .grupo-2{
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 p{
  font-size: 15px;
}


