body {
  margin: 0;
  padding: 0;
  background-color: white; 
}

/* menu e imagen */
#headerwrap{
	background: url(../imagenes/portada3.jpeg) no-repeat center top;
	margin-top: 0px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 100vh;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#headerwrap h4 {
	font-weight: 400;
	color: #ffffff
}

@media (max-width: 768px) {
  #headerwrap {
    padding-top: 180px;
  }
}
.logo {
  width: 120px;
}
/*aqui termina menu*/

label.wel {
  background: #a79c0a;
  width: 250px;
  height: 3px;
  display: block;
  margin: 0 auto 50px;
}

.wels_head {
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  font-size: 50px;
  color: #212121;
  font-weight: 600;
  margin-bottom: 50px;
  letter-spacing: 10px;
  text-align: center;
} 

.welcome { /*linea dorada separada de arriba*/
  padding: 6em 0;
}

.welcome p {
  font-size: 25px;
  letter-spacing: 2px;
  color: #777;
  width: 74%;
  margin: 0 auto 20px;
  line-height: 35px;
  text-align: center;
}

/*experimento galeria*/
#galeria {
  background-color: #0f0e0f;
}

/* acaba el experimento aqui */

/* linea dorada*/
label.dorado {
  background: #a79c0a;
  width: 300px;
  height: 3px;
  display: block;
  margin: 0 auto 50px;
}
/* linea dorada*/ 

/* card 3*/
.card-border{
  margin-top: 50px;
  margin-bottom: 100px;
  transition: all ease-out 0.2s;
}

/*card 3 aqui termina*/



/* imagen de fondo en CONTACTO y formulario*/
.formulario{
  background-image: url(../imagenes/portadaTokio.jpeg);  
  background-position: center center;  
  background-repeat: no-repeat;  
  background-attachment: fixed;
  background-size: cover;  
  background-color: white;
  }

  .formulario form{
  margin-right: 40px;
  margin-left: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.formulario form button,
.formulario form input,
.formulario form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid black;
}




/* servicios */
h3 {
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: -.5px;
}
a:link {
  text-decoration: none;
}



.ts-service-box .ts-service-box-content {
  margin-left: 62px;
  margin-bottom: 30px;
}

.tab-content .ts-service-box .ts-service-box-content {
  margin-left: 90px;
}

.ts-service-box .ts-service-box-content h3 {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 28px;
}

.ts-service-box .ts-service-box-info {
  margin-left: 25px;
  margin-bottom: 40px;
}

.service-box-title {
  font-size: 16px;
  margin: 0 0 10px;
}

.service-box-title a {
  color: #333;
}

.service-box-title a:hover {
  color: #a7e0f7;
}

/* Service box bg */
.ts-service-box-bg {
  background: #252525;
  color: #fff;
  padding: 30px;
}

.ts-service-box-bg h4,
.ts-service-box-bg h3 {
  color: #fff;
}


/* Icon squre */
.ts-service-icon.icon-round i {
  font-size: 24px;
  color: #fff;
  background: #ffb600;
  text-align: center;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin-bottom: 20px;
  position: relative;
  float: none;
}

/* Icon left */
.ts-service-box.icon-left .ts-service-box-icon {
  float: left;
}

.ts-service-box.icon-left .ts-service-box-icon i {
  background: #ffb600;
  color: #fff;
}

.ts-service-box.icon-left .ts-service-box-info {
  margin-left: 90px;
}

.ts-service-box.icon-left .ts-service-box-info h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

/* Service no box */
.service-no {
  font-size: 48px;
  color: #dbdbdb;
  float: left;
  margin-top: 10px;
}

.ts-service-box-content .ts-service-box-info {
  margin-left: 90px;
}

/* Service Image */
.ts-service-image-wrapper {
  margin-bottom: 30px;
}

.ts-service-icon i {
  font-size: 28px;
  margin-right: 15px;
  margin-top: 2px;
}

.ts-service-info {
  margin-left: 30px;
}

@media (max-width: 1200px) {
  .ts-service-info {
    margin-left: 15px;
  }
}

.ts-service-info h3 {
  font-size: 16px;
}

.ts-service-info .learn-more {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.ts-service-info .learn-more:hover {
  color: #ffb600;
}

/* Service Classic */
.ts-service-classic .ts-service-icon i {
  font-size: 24px;
  float: left;
  color: #fff;
  background: #ffb600;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transition: all 0.3s;
}

.ts-service-classic .ts-service-box-info {
  margin-left: 80px;
}

.ts-service-classic:hover .ts-service-icon i {
  background: #ffb600;
}

/*footer*//*
.pie-pagina{
  width: 100%;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 200px;
}
.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: grey;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: aqua;
}
.pie-pagina .grupo-2{
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 p{
  font-size: 15px;
}
*/
/* footer termina aqui*/

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/*# sourceMappingURL=estilos.css.map */