body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 3px;
}

.card-border{
    overflow: hidden;
    transition: all ease-out 0.2s;
    &hover{
        transform: scale(1.01);
    }
}
.text-shadow{
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6)
}

.pie-pagina {
    width: 100%;
    .grupo-1 {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0;
        .box figure{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 200px; 
            }
            
        }
        .box h2{
            color: #fff;
            margin-bottom: 25px;
            font-size: 20px;
        }
        .box p{
            color: #efefef;
            margin-bottom: 10px;
        } 
        .red-social a{
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: #fff;
        margin-right: 10px;
        background-color: grey;
        text-align: center;
        transition: all 300ms ease;
        &:hover{
            color: aqua;
        }
        }
    }
.grupo-2{
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    p{
        font-size: 15px;
    }
}    
}
    
